.container {
  display: flex;
  width: 100%;
  // Header height is added because height is being inherited from parent when using 100%, the parent body has all the contents inside of it, we do not want the container div to equal the height of the body but the body - header, which is statically
  // set to 64px
  height: calc(100% - 64px);
  background-color: linear-gradient(145deg, rgb(22, 25, 37) 0%, rgb(35, 37, 41) 85%, rgb(15, 22, 46) 100%);
  align-items: center;
  justify-content: center;
  margin: 0;
}

.home-mat-button {
  height: 64px;
  width: fit-content;
  font-size: 2vh;
  color: white;
  background: #b5bdc8; /* Old browsers */
  background-image: -moz-linear-gradient( #23283B 0%, rgb(66, 68, 75) 25%, rgb(16, 22, 44) 100%) !important; /* FF3.6-15 */
  background-image: -webkit-linear-gradient( #23283B 0%, rgb(66, 68, 75) 25%, rgb(16, 22, 44) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(145deg, rgb(22, 25, 37) 0%, rgb(35, 37, 41) 85%, rgb(15, 22, 46) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.home-mat-button:hover {
  background-image: -moz-linear-gradient( #23283B 5%, rgb(66, 68, 75) 35%, rgb(16, 22, 44) 100%) !important; /* FF3.6-15 */
  background-image: -webkit-linear-gradient( #23283B 5%, rgb(66, 68, 75) 35%, rgb(16, 22, 44) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(145deg, rgb(22, 25, 37) 5%, rgb(35, 37, 41) 95%, rgb(15, 22, 46) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.home-mat-button-error {
  height: 128px;
  margin-left: 20px;
  width: fit-content;
  font-size: 3vh;
  color: white;
  background: #b5bdc8; /* Old browsers */
  background-image: -moz-linear-gradient( #23283B 0%, rgb(66, 68, 75) 25%, rgb(16, 22, 44) 100%) !important; /* FF3.6-15 */
  background-image: -webkit-linear-gradient( #23283B 0%, rgb(66, 68, 75) 25%, rgb(16, 22, 44) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(145deg, rgb(22, 25, 37) 0%, rgb(35, 37, 41) 85%, rgb(15, 22, 46) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.home-mat-button-error:hover {
  background-image: -moz-linear-gradient( #23283B 5%, rgb(66, 68, 75) 35%, rgb(16, 22, 44) 100%) !important; /* FF3.6-15 */
  background-image: -webkit-linear-gradient( #23283B 5%, rgb(66, 68, 75) 35%, rgb(16, 22, 44) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(145deg, rgb(22, 25, 37) 5%, rgb(35, 37, 41) 95%, rgb(15, 22, 46) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 172px;
  height: 172px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  margin: 8px;
  border: 16px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.location-error {
  display: flex;
  width: 50%;
  color: white;
  font-size: 2vh;
}

.location-error-card {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}

mat-card {
  align-items: center;
  display: flex;
  @media (min-height: 401px) {
    flex-direction: column;
  }
  @media (max-height: 400px) {
    flex-direction: row;
  }
  @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ min-width: 50%; }
  @media (min-width:480px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
  @media (min-width:640px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
  @media (min-width:960px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ min-width: 40%; }
  @media (min-width:1280px) { /* hi-res laptops and desktops */  min-width: 30%; }
  @media (min-width:1920px) { /* hi-res laptops and desktops */  min-width: 15% }
  @media (min-width:2250px) { /* hi-res laptops and desktops */  min-width: 13%; }
  @media (min-width:2560px) { /* hi-res laptops and desktops */  min-width: 12%; }
  max-width: 80% !important;
  max-height: 75%;
  width: max-content;
  height: max-content;
  background-image: -moz-linear-gradient( #23283B 5%, rgb(66, 68, 75) 35%, rgb(16, 22, 44) 100%) !important; /* FF3.6-15 */
  background-image: -webkit-linear-gradient( #23283B 5%, rgb(66, 68, 75) 35%, rgb(16, 22, 44) 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background-image: linear-gradient(145deg, rgb(22, 25, 37) 5%, rgb(35, 37, 41) 95%, rgb(15, 22, 46) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: white;
  text-align: center;
}

h1, h2, h3, h4 {
  margin: 0;
}

h3 {
  margin: 10px;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.weather-details {
  text-align: center;
  text-transform: capitalize;
  font-size: 2vh;
}

.weather-header {
  font-size: 3vh;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.weather-description {
  text-transform: capitalize;
  margin-bottom: 20px;
  font-size: 2vh;
}

.weather-temp {
  align-self: center;
  margin: 0;
}

.alert-allow {
  font-size: 2vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}